body {
    background-color: lightblue;
}

h1 {
    color: #8b0000;
}

p {
    background-color: rgb(255, 255, 237);
}

li {
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
}

button {
    color: hsl(84, 100%, 59%);
    background-color: hsla(350, 100%, 88%, 75%);
}

button:hover {
    color: rgb(0, 100, 0);
}